@import './variables/colors.less';
@import './variables/dash-colors.less';
@import './variables/sizes.less';
@import './variables/breakpoints.less';

@import './variables/dash-colors-light.less';
@import './variables/dash-colors-dark.less';

@theme: dash;
// An override for the html selector for theme prefixes
@html-selector: html;
@font-family: 'noirpro', sans-serif;
@class-prefix: dash;
