@import './variables/colors.less';
@import './variables/dash-colors.less';
@import './variables/sizes.less';
@import './variables/breakpoints.less';

@theme: dash;
// An override for the html selector for theme prefixes
@html-selector: html;
@font-family: 'noirpro', sans-serif;
@class-prefix: dash;

:root {

  //LIGHT MODE

    --primary-color: @primary-color;
    --primary-contrast: @primary-contrast;

    --secondary-color: @secondary-color;

    --module-bg: @module-bg;
    --module-border: @module-border;

    --text-color: @text-color;
    --text-contrast: @text-contrast;

    --text-light: @text-light;

    --text-header: @text-header;

    --heading-color: @heading-color;

    --body-bg: @body-bg;

    --framed_layout-bg: @framed_layout-bg;
    --main-bg: @main-bg;
    --link-color: @link-color;

    --nav-bg: @nav-bg;

    --component-bg: @component-bg;
    --component-border: @component-border;
    --component-text: @component-text;
    --component-shadow: @component-shadow;
    --component-hover-bg: @component-hover-bg;
    --component-active-bg: @component-active-bg;

    --component-border: @component-border;
    --component-border-base: @component-border-base;
    --component-border-split: @component-border-split;
    --border-color: @border-color;


    --link-color: @link-color;
    --link-hover: @link-hover;
    --link-active: @link-active;

    --disabled-color: @disabled-color;
    --disabled-bg: @disabled-bg;
    --disabled-border: @disabled-border;


    --scroll_track: @scroll_track;
    --scroll_thumb-color: @scroll_thumb-color;

    --header-bg: @header-bg;
    --header-font: @header-font;
    --header-badge: @header-badge;
    --header-badge-hover: @header-badge-hover;
    --header-input-bg: @header-input-bg;

    --sidebar-bg: @sidebar-bg;
    --sidebar-bg-hover: @sidebar-bg-hover;
    --sidebar: @sidebar;
    --sidebar-active: @sidebar-active;
    --sidebar_icon: @sidebar_icon;
    --sidebar_icon-active: @sidebar_icon-active;

    --sidebar-primary: @sidebar-primary;
    --sidebar-contrast: @sidebar-contrast;
    --sidebar_icon-primary: @sidebar_icon-primary;
    --sidebar_icon-secondary: @sidebar_icon-secondary;
    --sidebar-bg-primary: @sidebar-bg-primary;
    --sidebar-bg-contrast: @sidebar-bg-contrast;
    --sidebar_submenu-bg-primary: @sidebar_submenu-bg-primary;
    --sidebar_submenu-bg-contrast: @sidebar_submenu-bg-contrast;
    --sidebar_submenu-color-primary: @sidebar_submenu-color-primary;
    --sidebar_submenu-color-contrast: @sidebar_submenu-color-contrast;
    --sidebar-handle-primary: @sidebar-handle-primary;
    --sidebar-handle-contrast: @sidebar-handle-contrast;


    --alert-info-bg: @alert-info-bg;
    --alert-info-border: @alert-info-border;
    --alert-info-color: @alert-info-color;
    --alert-info-title: @alert-info-title;
    --alert-info-link: @alert-info-link;
    --alert-error-bg: @alert-error-bg;
    --alert-error-border: @alert-error-border;
    --alert-error-color: @alert-error-color;
    --alert-error-title: @alert-error-title;
    --alert-error-link: @alert-error-link;
    --alert-warning-bg: @alert-warning-bg;
    --alert-warning-border: @alert-warning-border;
    --alert-warning-color: @alert-warning-color;
    --alert-warning-title: @alert-warning-title;
    --alert-warning-link: @alert-warning-link;
    --alert-success-bg: @alert-success-bg;
    --alert-success-border: @alert-success-border;
    --alert-success-color: @alert-success-color;
    --alert-success-title: @alert-success-title;
    --alert-success-link: @alert-success-link;


    --btn-bg: @btn-bg;
    --btn-color: @btn-color;
    --btn-border-color: @btn-border-color;
    --btn-hover-bg: @btn-hover-bg;
    --btn-active-bg: @btn-active-bg;
    --btn-disabled-bg: @btn-disabled-bg;
    --btn-disabled-color: @btn-disabled-color;
    --btn-color: @btn-color;
    --btn-secondary-bg: @btn-secondary-bg;
    --btn-secondary-color: @btn-secondary-color;
    --btn-success-bg: @btn-success-bg;
    --btn-success-color: @btn-success-color;
    --btn-danger-bg: @btn-danger-bg;
    --btn-danger-color: @btn-danger-color;
    --btn-warning-bg: @btn-warning-bg;
    --btn-warning-color: @btn-warning-color;
    --btn-info-bg: @btn-info-bg;
    --btn-info-color: @btn-info-color;
    --btn-light-bg: @btn-light-bg;
    --btn-light-color: @btn-light-color;


    --tab-selected-bg: @tab-selected-bg;

// LIGHT MODE


--primary-color--light: @primary-color;
--primary-contrast--light: @primary-contrast;

--secondary-color--light: @secondary-color;

--module-bg--light: @module-bg;
--module-border--light: @module-border;

--text-color--light: @text-color;
--text-contrast--light: @text-contrast;

--text-light--light: @text-light;

--text-header--light: @text-header;

--heading-color--light: @heading-color;

--body-bg--light: @body-bg;

--framed_layout-bg--light: @framed_layout-bg;
--main-bg--light: @main-bg;
--link-color--light: @link-color;

--nav-bg--light: @nav-bg;

--component-bg--light: @component-bg;
--component-border--light: @component-border;
--component-text--light: @component-text;
--component-shadow--light: @component-shadow;
--component-hover-bg--light: @component-hover-bg;
--component-active-bg--light: @component-active-bg;

--component-border--light: @component-border;
--component-border-base--light: @component-border-base;
--component-border-split--light: @component-border-split;
--border-color--light: @border-color;


--link-color--light: @link-color;
--link-hover--light: @link-hover;
--link-active--light: @link-active;

--disabled-color--light: @disabled-color;
--disabled-bg--light: @disabled-bg;
--disabled-border--light: @disabled-border;


--scroll_track--light: @scroll_track;
--scroll_thumb-color--light: @scroll_thumb-color;

--header-bg--light: @header-bg;
--header-font--light: @header-font;
--header-badge--light: @header-badge;
--header-badge-hover--light: @header-badge-hover;
--header-input-bg--light: @header-input-bg;

--sidebar-bg--light: @sidebar-bg;
--sidebar-bg-hover--light: @sidebar-bg-hover;
--sidebar--light: @sidebar;
--sidebar-active--light: @sidebar-active;
--sidebar_icon--light: @sidebar_icon;
--sidebar_icon-active--light: @sidebar_icon-active;

--sidebar-primary--light: @sidebar-primary;
--sidebar-contrast--light: @sidebar-contrast;
--sidebar_icon-primary--light: @sidebar_icon-primary;
--sidebar_icon-secondary--light: @sidebar_icon-secondary;
--sidebar-bg-primary--light: @sidebar-bg-primary;
--sidebar-bg-contrast--light: @sidebar-bg-contrast;
--sidebar_submenu-bg-primary--light: @sidebar_submenu-bg-primary;
--sidebar_submenu-bg-contrast--light: @sidebar_submenu-bg-contrast;
--sidebar_submenu-color-primary--light: @sidebar_submenu-color-primary;
--sidebar_submenu-color-contrast--light: @sidebar_submenu-color-contrast;
--sidebar-handle-primary--light: @sidebar-handle-primary;
--sidebar-handle-contrast--light: @sidebar-handle-contrast;

--alert-info-bg--light: @alert-info-bg;
--alert-info-border--light: @alert-info-border;
--alert-info-color--light: @alert-info-color;
--alert-info-title--light: @alert-info-title;
--alert-info-link--light: @alert-info-link;
--alert-error-bg--light: @alert-error-bg;
--alert-error-border--light: @alert-error-border;
--alert-error-color--light: @alert-error-color;
--alert-error-title--light: @alert-error-title;
--alert-error-link--light: @alert-error-link;
--alert-warning-bg--light: @alert-warning-bg;
--alert-warning-border--light: @alert-warning-border;
--alert-warning-color--light: @alert-warning-color;
--alert-warning-title--light: @alert-warning-title;
--alert-warning-link--light: @alert-warning-link;
--alert-success-bg--light: @alert-success-bg;
--alert-success-border--light: @alert-success-border;
--alert-success-color--light: @alert-success-color;
--alert-success-title--light: @alert-success-title;
--alert-success-link--light: @alert-success-link;


--btn-bg--light: @btn-bg;
--btn-color--light: @btn-color;
--btn-border-color--light: @btn-border-color;
--btn-hover-bg--light: @btn-hover-bg;
--btn-active-bg--light: @btn-active-bg;
--btn-disabled-bg--light: @btn-disabled-bg;
--btn-disabled-color--light: @btn-disabled-color;
--btn-bg--light: @btn-bg;
--btn-color--light: @btn-color;
--btn-secondary-bg--light: @btn-secondary-bg;
--btn-secondary-color--light: @btn-secondary-color;
--btn-success-bg--light: @btn-success-bg;
--btn-success-color--light: @btn-success-color;
--btn-danger-bg--light: @btn-danger-bg;
--btn-danger-color--light: @btn-danger-color;
--btn-warning-bg--light: @btn-warning-bg;
--btn-warning-color--light: @btn-warning-color;
--btn-info-bg--light: @btn-info-bg;
--btn-info-color--light: @btn-info-color;
--btn-light-bg--light: @btn-light-bg;
--btn-light-color--light: @btn-light-color;


 --tab-selected-bg--light: @tab-selected-bg;

// DARK MODE


--primary-color--dark: @primary-color--dark;
--primary-contrast--dark: @primary-contrast--dark;

--secondary-color--dark: @secondary-color--dark;

--module-bg--dark: @module-bg--dark;
--module-border--dark: @module-border--dark;

--text-color--dark: @text-color--dark;
--text-contrast--dark: @text-contrast--dark;

--text-light--dark: @text-light--dark;

--text-header--dark: @text-header--dark;

--heading-color--dark: @heading-color--dark;

--body-bg--dark: @body-bg--dark;

--framed_layout-bg--dark: @framed_layout-bg--dark;
--main-bg--dark: @main-bg--dark;
--link-color--dark: @link-color--dark;

--nav-bg--dark: @nav-bg--dark;

--component-bg--dark: @component-bg--dark;
--component-border--dark: @component-border--dark;
--component-text--dark: @component-text--dark;
--component-shadow--dark: @component-shadow--dark;
--component-hover-bg--dark: @component-hover-bg--dark;
--component-active-bg--dark: @component-active-bg--dark;

--component-border--dark: @component-border--dark;
--component-border-base--dark: @component-border-base--dark;
--component-border-split--dark: @component-border-split--dark;
--border-color--dark: @border-color--dark;


--link-color--dark: @link-color--dark;
--link-hover--dark: @link-hover--dark;
--link-active--dark: @link-active--dark;

--disabled-color--dark: @disabled-color--dark;
--disabled-bg--dark: @disabled-bg--dark;
--disabled-border--dark: @disabled-border--dark;


--scroll_track--dark: @scroll_track--dark;
--scroll_thumb-color--dark: @scroll_thumb-color--dark;

--header-bg--dark: @header-bg--dark;
--header-font--dark: @header-font--dark;
--header-badge--dark: @header-badge--dark;
--header-badge-hover--dark: @header-badge-hover--dark;
--header-input-bg--dark: @header-input-bg--dark;

--sidebar-bg--dark: @sidebar-bg--dark;
--sidebar-bg-hover--dark: @sidebar-bg-hover--dark;
--sidebar--dark: @sidebar--dark;
--sidebar-active--dark: @sidebar-active--dark;
--sidebar_icon--dark: @sidebar_icon--dark;
--sidebar_icon-active--dark: @sidebar_icon-active--dark;

--sidebar-primary--dark: @sidebar-primary--dark;
--sidebar-contrast--dark: @sidebar-contrast--dark;
--sidebar_icon-primary--dark: @sidebar_icon-primary--dark;
--sidebar_icon-secondary--dark: @sidebar_icon-secondary--dark;
--sidebar-bg-primary--dark: @sidebar-bg-primary--dark;
--sidebar-bg-contrast--dark: @sidebar-bg-contrast--dark;
--sidebar_submenu-bg-primary--dark: @sidebar_submenu-bg-primary--dark;
--sidebar_submenu-bg-contrast--dark: @sidebar_submenu-bg-contrast--dark;
--sidebar_submenu-color-primary--dark: @sidebar_submenu-color-primary--dark;
--sidebar_submenu-color-contrast--dark: @sidebar_submenu-color-contrast--dark;
--sidebar-handle-primary--dark: @sidebar-handle-primary--dark;
--sidebar-handle-contrast--dark: @sidebar-handle-contrast--dark;

--alert-info-bg--dark: @alert-info-bg--dark;
--alert-info-border--dark: @alert-info-border--dark;
--alert-info-color--dark: @alert-info-color--dark;
--alert-info-title--dark: @alert-info-title--dark;
--alert-info-link--dark: @alert-info-link--dark;
--alert-error-bg--dark: @alert-error-bg--dark;
--alert-error-border--dark: @alert-error-border--dark;
--alert-error-color--dark: @alert-error-color--dark;
--alert-error-title--dark: @alert-error-title--dark;
--alert-error-link--dark: @alert-error-link--dark;
--alert-warning-bg--dark: @alert-warning-bg--dark;
--alert-warning-border--dark: @alert-warning-border--dark;
--alert-warning-color--dark: @alert-warning-color--dark;
--alert-warning-title--dark: @alert-warning-title--dark;
--alert-warning-link--dark: @alert-warning-link--dark;
--alert-success-bg--dark: @alert-success-bg--dark;
--alert-success-border--dark: @alert-success-border--dark;
--alert-success-color--dark: @alert-success-color--dark;
--alert-success-title--dark: @alert-success-title--dark;
--alert-success-link--dark: @alert-success-link--dark;


--btn-bg--dark: @btn-bg--dark;
--btn-color--dark: @btn-color--dark;
--btn-border-color--dark: @btn-border-color--dark;
--btn-hover-bg--dark: @btn-hover-bg--dark;
--btn-active-bg--dark: @btn-active-bg--dark;
--btn-disabled-bg--dark: @btn-disabled-bg--dark;
--btn-disabled-color--dark: @btn-disabled-color--dark;
--btn-color--dark: @btn-color--dark;
--btn-secondary-bg--dark: @btn-secondary-bg--dark;
--btn-secondary-color--dark: @btn-secondary-color--dark;
--btn-success-bg--dark: @btn-success-bg--dark;
--btn-success-color--dark: @btn-success-color--dark;
--btn-danger-bg--dark: @btn-danger-bg--dark;
--btn-danger-color--dark: @btn-danger-color--dark;
--btn-warning-bg--dark: @btn-warning-bg--dark;
--btn-warning-color--dark: @btn-warning-color--dark;
--btn-info-bg--dark: @btn-info-bg--dark;
--btn-info-color--dark: @btn-info-color--dark;
--btn-light-bg--dark: @btn-light-bg--dark;
--btn-light-color--dark: @btn-light-color--dark;

 --tab-selected-bg--dark: @tab-selected-bg--dark;

// Table header
    --table-header-color: @table-header-color;
    --table-header-color--light: @table-header-color--light;
    --table-header-color--dark: @table-header-color--dark;
    --table-header-bg: @table-header-bg;
    --table-header-bg--light: @table-header-bg--light;
    --table-header-bg--dark: @table-header-bg--dark;

// BASE COLORS

    --info-color: @info-color;
    --success-color: @success-color;
    --processing-color: @processing-color;
    --error-color: @error-color;
    --highlight-color: @highlight-color;
    --warning-color: @warning-color;
    --normal-color: @normal-color;
    --danger-color: @danger-color;
    --light-color: @light-color;

    --dash-blue: @dash-blue;
    --dash-purple: @dash-purple;
    --dash-light-blue: @dash-light-blue;
    --dash-green: @dash-green;
    --dash-red: @dash-red;
    --dash-yellow: @dash-yellow;
    --dash-orange: @dash-orange;
    --dash-error: @dash-error;
    --alert: @alert;
    --dash-null: @dash-null;
    --dash-light-grey: @dash-light-grey;
    --dash-purple-bg: @dash-purple-bg;
    --dash-light-blue-bg: @dash-light-blue-bg;
    --dash-green-bg: @dash-green-bg;
    --dash-yellow-bg: @dash-yellow-bg;
    --dash-orange-bg: @dash-orange-bg;
    --dash-null-bg: @dash-null-bg;

    --highlight-color: @highlight-color;
    --black: @black;

    --dash-scroll-width: @dash-scroll-width;
    // Sizes
    --size-8: @size-8;
    --size-10: @size-10;
    --size-20: @size-20;
    --size-30: @size-30;
    --size-36: @size-36;
    --size-40: @size-40;
    --size-50: @size-50;
    --size-60: @size-60;
    --size-80: @size-80;
    --size-100: @size-100;
    --size-120: @size-120;
    --size-150: @size-150;
    --size-175: @size-175;
    --size-200: @size-200;
    --layout-header-height: @layout-header-height;
    --layout-header-height-res: @layout-header-height-res;
    --layout-header-padding: @layout-header-padding;
    --layout-header-padding-res: @layout-header-padding-res;
    --layout-footer-padding: @layout-footer-padding;
    --layout-footer-padding-res: @layout-footer-padding-res;
    --layout-trigger-height: @layout-trigger-height;
    --layout-zero-trigger-width: @layout-zero-trigger-width;
    --layout-zero-trigger-height: @layout-zero-trigger-height;
    --layout-main-content-padding: @layout-main-content-padding;
    --layout-main-content-padding-res: @layout-main-content-padding-res;
    --font-size-base: @font-size-base;
    --font-size-lg: @font-size-lg;
    --font-size-sm: @font-size-sm;
    --line-height-base: @line-height-base;
    --h1-font-size: @h1-font-size;
    --h2-font-size: @h2-font-size;
    --h3-font-size: @h3-font-size;
    --h4-font-size: @h4-font-size;
    --h5-font-size: @h5-font-size;
    --h6-font-size: @h6-font-size;
    --headings-font-weight: @headings-font-weight;
    --headings-line-height: @headings-line-height;
    --font-weight-light: @font-weight-light;
    --font-weight-normal: @font-weight-normal;
    --font-weight-medium: @font-weight-medium;
    --font-weight-semi-bold: @font-weight-semi-bold;
    --font-weight-bold: @font-weight-bold;
    --font-weight-heavy: @font-weight-heavy;
    --letter-spacing-base: @letter-spacing-base;
    --letter-spacing-lg: @letter-spacing-lg;
    --letter-spacing-xl: @letter-spacing-xl;
    --menu-inline-toplevel-item-height: @menu-inline-toplevel-item-height;
    --menu-item-height: @menu-item-height;
    --menu-expanded-width: @menu-expanded-width;
    --form-item-margin-bottom: @form-item-margin-bottom;
    --form-vertical-label-padding: @form-vertical-label-padding;
    --form-vertical-label-margin: @form-vertical-label-margin;
    --border-width-base: @border-width-base;
    --border-style-base: @border-style-base;
    --dragndrop-paddding-tb: @dragndrop-paddding-tb;
    --dragndrop-paddding-lr: @dragndrop-paddding-lr;
    --dash-customizer-width: @dash-customizer-width;
    --dash-customizer-base: @dash-customizer-base;
    --framed-layout-base: @framed-layout-base;
    --custom-padding: @custom-padding;
    --content-horizontal-padding: @content-horizontal-padding;
    --sidebar-padding-lr: @sidebar-padding-lr;

    --min-body-width: @min-body-width;


    --sidebar-mini-drawer-width: @sidebar-mini-drawer-width;

    --sidebar-large-width: @sidebar-large-width;
    --sidebar-small-width: @sidebar-small-width;

    --app-sidebar-width: @app-sidebar-width;
    --app-chat-sidebar-width: @app-chat-sidebar-width;
    --scroll-bar-margin: @scroll-bar-margin;
    --scroll-bar-expanded-margin: @scroll-bar-expanded-margin;
    --sidebar_submenu-padding: @sidebar_submenu-padding;
    --card-head-padding: @card-head-padding;
    --card-inner-head-padding: @card-inner-head-padding;
    --card-padding-base: @card-padding-base;
    --card-padding-wider: @card-padding-wider;
    --dash-card-padding-base: @dash-card-padding-base;
    --dash-card-padding-sm: @dash-card-padding-sm;
    --dash-card-margin-base: @dash-card-margin-base;
    --dash-card-margin-base-res: @dash-card-margin-base-res;
    --grid-gutter-width: @grid-gutter-width;
    --border-radius-xxl: @border-radius-xxl;
    --border-radius-circle: @border-radius-circle;
    --input-height-base: @input-height-base;
    --input-height-lg: @input-height-lg;
    --input-height-sm: @input-height-sm;
    --input-height-base-sm: @input-height-base-sm;
    --btn-height-base: @btn-height-base;
    --btn-height-lg: @btn-height-lg;
    --btn-height-sm: @btn-height-sm;
    --btn-height-base-sm: @btn-height-base-sm;
    --btn-font-size-lg: @btn-font-size-lg;
    --btn-font-size-sm: @btn-font-size-sm;
    --btn-font-size-xs: @btn-font-size-xs;
    --btn-padding-xs: @btn-padding-xs;
    --btn-border-radius-base: @btn-border-radius-base;
    --btn-border-radius-sm: @btn-border-radius-sm;
    --btn-padding-base: @btn-padding-base;
    --btn-padding-lg: @btn-padding-lg;
    --btn-padding-sm: @btn-padding-sm;
    --border-radius-base: @border-radius-base;
    --border-radius-sm: @border-radius-sm;
    --border-radius-lg: @border-radius-lg;


}
