
.dash-pagination-component {
  .MuiTablePagination-actions {
    color: #000000;
  }
  .MuiTablePagination-selectLabel {
    color: #000000;
  }

  .MuiTablePagination-displayedRows {
    color: #000000;
  }
}