
.dark {


   /* .dash-tab-staff, .dash-kitchen-tab, .dash-tab-edit-item {
        .MuiButtonBase-root {
            color: white;
        }
        .MuiSvgIcon-root {
            color: white;
        }
    }*/

  /*.sidebar-drawer
    .sidebar-list
    .MuiButtonBase-root.MuiListItemButton-root
    .MuiListItemIcon-root {
    color: white;
  }
*/

   
}

