**/node_modules
**/dist
**/build
**/_dash
**/.env*
!**/.env.template
.turbo
yarn-error.log
apps/dash
yarn.lock
**/.DS_Store
.gitmodules
release
icons
apps/dash
build-resources
*.mp3
*.wav
android/app/src/main/res/*
build_config.json
apps/minimal
apps/v2
