
.RaList-actions {
    padding: 15px 5px;
    background: var(--module-bg, @module-bg);
    border-radius: 8px;
    margin-bottom:3px;  
}

.RaDatagrid-root {
  [class*="RaBulkActionsToolbar-root"] {
    position: inherit;
    background-color: var(--primary-contrast, @primary-contrast);

  }
}


 .RaToolbar-mobileToolbar {
    display: flex !important;
    justify-content: flex-end !important;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background-color: var(--module-bg, @module-bg) !important;
    z-index: 100 !important;
    padding: 12px 16px !important;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1) !important;
}

.RaToolbar-desktopToolbar {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
   
    display: flex !important;
    justify-content: flex-end !important;
    background-color: var(--module-bg, @module-bg) !important;
    z-index: 100 !important;
    padding: 12px 16px !important;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1) !important;
}

.RaEdit-main {
    padding: 5px 0px 0px 5px;
}

/*
.RaCreate-main, .RaEdit-main {
    padding-bottom: 80px !important; // Space for fixed toolbar
}

@media (max-width: @mq-sm) {
    .RaCreate-main, .RaEdit-main {
        padding-bottom: 100px !important; // More space on mobile
    }
}
*/

.RaSingleFieldList-root {
  .RaSingleFieldList-link > * {
    color: var(--text-color, @text-color);
  }
}

.RaReferenceField-root {
  .RaReferenceField-link > * {
    color: var(--text-color, @text-color);
  }
}
