

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--highlight-color) !important;
  /*-webkit-box-shadow: 0 0 0 30px var(--main-color) inset !important;
  transition: background-color 5000s ease-in-out 0s;*/
}


fieldset {
  padding: 8px;
  margin: 8px;
  border: 1px dashed rgba(0, 0, 0, 0.5);
      
  legend {
    font-size: small;
    font-weight: normal;
  }
}