.dash-app-login-wrapper {
    background-color: var(--primary-contrast);
    background: linear-gradient(var(--angle),
            var(--primary-color),
            var(--primary-contrast));

    
    button {
         color: var(--text-color) !important;
        
    }
    button.submit {  
        background-color: var(--primary-color) !important;
        border-color: var(--primary-contrast) !important;
    }

   
}
