// BREAKPOINTS

// Breakpoints
@screen-xs: 0; // Extra small devices (phones, less than 576px)
@screen-sm: 576px; // Small devices (tablets, 576px and up)
@screen-md: 768px; // Medium devices (desktops, 768px and up)
@screen-lg: 992px; // Large devices (desktops, 992px and up)
@screen-xl: 1200px; // Extra large devices (large desktops, 1200px and up)
@screen-xxl: 1400px; // Extra extra large devices (larger desktops, 1400px and up)

// Custom Min Breakpoints
@screen-xs-min: @screen-xs; // Min width for extra small devices
@screen-sm-min: @screen-sm; // Min width for small devices
@screen-md-min: @screen-md; // Min width for medium devices
@screen-lg-min: @screen-lg; // Min width for large devices
@screen-xl-min: @screen-xl; // Min width for extra large devices
@screen-xxl-min: @screen-xxl; // Min width for extra extra large devices

// Max Breakpoints
@screen-xs-max: 575.98px; // Max width for extra small devices
@screen-sm-max: 767.98px; // Max width for small devices
@screen-md-max: 991.98px; // Max width for medium devices
@screen-lg-max: 1199.98px; // Max width for large devices
@screen-xl-max: 1399.98px; // Max width for extra large devices

@mq-min: 420px;
@mq-xs: 520px;
@mq-form: 650px;
@mq-sm: 768px;
@mq-md: 960px;
@mq-lg: 1300px;
@mq-all: 1520px;

