@import './colors.less';

/* This are default base colors for dash */
/* Overwrite this variables in the domain dash-variables.less */
@import './dash-colors-light.less';
@import './dash-colors-dark.less';

// Colors - Status
@info-color: #1890ff;
@success-color: #52c41a;
@processing-color: #1890ff;
@error-color: #f5222d;
@highlight-color: #f5222d;
@warning-color: #faad14;
@normal-color: #d9d9d9;
@danger-color: #ff4d4f;
@light-color: #e8e8e8;

// Colors - Basic
@highlight-color: #FFFFFF;
@highlight-color: #ffffff;
@black: #000000;
@pink: #E6E6E6;

// Colors - Brand
@dash-blue: #4D4D4D;
@dash-purple: #808080;
@dash-light-blue: #999999;
@dash-green: #666666;
@dash-red: #808080;
@dash-yellow: #999999;
@dash-orange: #666666;
@dash-error: #808080;
@dash-alert: #808080;
@dash-null: #808080;
@dash-light-grey: #757575;

// Colors - Background Variants
@dash-purple-background: #F2F2F2;
@dash-light-blue-background: #E6E6E6;
@dash-green-background: #D9D9D9;
@dash-yellow-background: #E6E6E6;
@dash-orange-background: #D9D9D9;
@dash-null-background: #EFEFF1;

@dash-scroll-width: 6px;