//@btn-bg: linear-gradient(101.98deg, var(--primary-color, @primary-color) 0%, var(--primary-contrast, @primary-contrast) 111.65%);
//@btn-color: var(--text-color, @text-color);

//@btn-tertiary-bg: var(--primary-color, @primary-color);
//@btn-tertiary-color: var(--text-contrast, @text-contrast);

//@btn-error-bg: var(--alert-error-bg, @alert-error-bg);
//@btn-error-color: var(--text-contrast, @text-contrast);




.MuiButton-root{
    //background: var(--component-bg, @component-bg);
    border: 1px solid var(--component-border, @component-border);
    //border-radius: 8px !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    //color: var(--text-color, @text-color);
    transition: all .4s;
    text-transform: unset !important;
    > span{
        display: inline-flex;
        align-items: center;
        //color: var(--component-text, @component-text);
        svg{
            margin-right: 9.75px;
        }
    }
    &.MuiButton-containedPrimary{
        //border: 1px solid transparent;
       //background-color:  linear-gradient(101.98deg, var(--primary-main) 0%, var(--secondary-main) 111.65%);

        //color: var(--btn-color, @btn-color);
        > span{
            color: var(--btn-color, @btn-color);
            svg{
                filter: brightness(0) invert(1);
            }
        }
    }
    &.MuiButton-outlinedPrimary{
        //border: 1px solid var(--component-border, @component-border);
        //background: var(--component-bg, @component-bg);
        //color: var(--component-text, @component-text);
        //background: var(--btn-secondary-bg, @btn-secondary-bg);
        color: var(--highlight-color, @highlight-color);
        > span{
            //color: var(--component-text, @component-text);
            svg {
                filter: brightness(0) invert(1);
            }
        }
    }
}

/*
&.btn{
    &-sm{
        min-width: 24px;
        height: 24px;
    }
    &-md{
        min-width: 32px;
        height: 32px;
    }
    &-lg{
        min-width: 40px;
        height: 40px;
    }
    &-sm, &-md, &-lg{
        padding: 0;
        min-height: auto;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg{
            margin: 0;
            width: 16px;
            height: 16px;
        }
    }

    &-width{
        &-sm, &-md, &-lg, &-full{
            width: 100%;
        }
        &-sm{
            max-width: 114px;
        }
        &-md{
            max-width: 150px;
        }
        &-lg{
            max-width: 290px;
        }
    }

    &-detail{
        &-link{
            background-color: var(--primary-color, @primary-color) !important;
            border-radius: 4px !important;
            height: 28px !important;
            justify-content: center !important;
            margin-right: 5px !important;
            width: 28px !important;
            svg{
                path{
                    fill: var(--text-contrast, @text-contrast);
                }
            }
        }
    }
}
*/
