.MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: var(--primary-color);
}

.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon.MuiTab-textColorPrimary.form-tab{
  color: var(--primary-color);
  &:hover, &:focus{
      color: var(--scroll_thumb-color);
  }
}
