@btn-primary-bg: linear-gradient(101.98deg, var(--primary-color, @primary-color) 0%, var(--primary-contrast-color, @primary-contrast-color) 111.65%);
@btn-primary-color: var(--text-color, @text-color);

@btn-tertiary-bg: var(--primary-color, @primary-color);
@btn-tertiary-color: var(--text-contrast-color, @text-contrast-color);

@btn-error-bg: var(--dash-alert-error-bg, @dash-alert-error-bg);
@btn-error-color: var(--text-contrast-color, @text-contrast-color);

.MuiButton-root{
    background: var(--component-background, @component-background);
    border: 1px solid var(--component-border-color, @component-border-color);
    border-radius: 8px !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: var(--text-color, @text-color);
    transition: all .4s;
    text-transform: unset !important;
    > span{
        display: inline-flex;
        align-items: center;
        //color: var(--component-text-color, @component-text-color);
        svg{
            margin-right: 9.75px;
        }
    }
    &.MuiButton-containedPrimary{
        border: 1px solid transparent;
        background: var(--btn-primary-bg, @btn-primary-bg);
        //color: var(--btn-primary-color, @btn-primary-color);
        > span{
            //color: var(--btn-primary-color, @btn-primary-color);
            svg{
                filter: brightness(0) invert(1);
            }
        }
    }
    &.MuiButton-outlinedPrimary{
        border: 1px solid var(--component-border-color, @component-border-color);
        background: var(--component-background, @component-background);
        //color: var(--component-text-color, @component-text-color);
        > span{
            //color: var(--component-text-color, @component-text-color);
            svg{
                filter: brightness(0) invert(1);
            }
        }
    }
}


&.btn{
    &-sm{
        min-width: 24px;
        height: 24px;
    }
    &-md{
        min-width: 32px;
        height: 32px;
    }
    &-lg{
        min-width: 40px;
        height: 40px;
    }
    &-sm, &-md, &-lg{
        padding: 0;
        min-height: auto;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg{
            margin: 0;
            width: 16px;
            height: 16px;
        }
    }

    &-width{
        &-sm, &-md, &-lg, &-full{
            width: 100%;
        }
        &-sm{
            max-width: 114px;
        }
        &-md{
            max-width: 150px;
        }
        &-lg{
            max-width: 290px;
        }
    }

    &-detail{
        &-link{
            background-color: var(--primary-color, @primary-color) !important;
            border-radius: 4px !important;
            height: 28px !important;
            justify-content: center !important;
            margin-right: 5px !important;
            width: 28px !important;
            svg{
                path{
                    fill: var(--text-contrast-color, @text-contrast-color);
                }
            }
        }
    }
}