.MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: var(--primary-color, @primary-color);
}

.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon.MuiTab-textColorPrimary.form-tab{
  color: var(--primary-color, @primary-color);
  &:hover, &:focus{
      color: var(--dash-scroll-thumb-color, @dash-scroll-thumb-color);
  }
}