.icon-fill{
    &-w{
        path{
             fill: @white;
        }
    }
}

.stroke-purple{
    stroke: @btn-color;
    *{
        stroke: @btn-color;
    }
}
   
.packages-resource-field-wrapper-row {
    background-color: white;
    font-size: 12pt;
    .label {
        color: @main-color;
    }
    .field {
        color: black;
    }
}


.auto-admin-grouped-form {
    padding: 0;
}