.icon-fill{
    &-w{
        path{
             fill: var(--highlight-color, @highlight-color);
        }
    }
}

.stroke-purple{
    stroke: var(--btn-color, @btn-color);
    *{
        stroke: var(--btn-color, @btn-color);
    }
}

.packages-resource-field-wrapper-row {
    background-color: white;
    font-size: 12pt;
    .label {
        color: var(--primary-color, @primary-color);
    }
    .field {
        color: black;
    }
}
