.auto-admin-grouped-form {
    padding: 0;
}


fieldset {
  border: none;
    margin-top: 15px;
}

fieldset legend {
  font-size: larger;
  font-weight: bold;
}

legend {
  float: inherit;
}

.dash-app-form-item {
  margin-bottom: 10px;
}

.dash-auto-admin-tabbed-form {
  .MuiTabs-scroller{
      overflow-x: auto !important;
      overflow-y: hidden;
  }
  .MuiTabs-root{
      .MuiTab-root{
          display: -moz-box;
          display: -webkit-box;
          align-items: center;
          svg{
              width: 18px;
              height: 18px;
              margin: -3px 5px 0 0 ;
          }
      }
  }
}
