@input-color: @primary-color;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.MuiAutocomplete-inputRoot {
    flex-wrap: nowrap !important;
}

.MuiInputBase-colorPrimary{
    background-color: var(--component-background, @component-background);
    border-color: var(--component-border-color, @component-border-color);
    color: var(--component-text-color, @component-text-color);
    fieldset{
        border-radius: 6px;
        border-color: var(--component-border-color, @component-border-color) !important;
        border-width: 1px !important;
        box-shadow: 2px 2px var(--component-shadow, @component-shadow);
        transition: all 0.4s;
    }
    input, .MuiSelect-select{
        width: 100%;
        min-width: 0;
        border-radius: 6px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-light-color, @text-light-color);
    }
    &:hover{
        fieldset{
            box-shadow: 2px 2px var(--component-hover-background, @component-hover-background);
        }
    }
}

.MuiFormLabel-colorPrimary{
    color: var(--text-light-color, @text-light-color);
    &.Mui-focused{
        color: var(--primary-color, @primary-color) !important;
    }
}

.input-label-top{
    > .MuiFormLabel-root{
        position: static;
        transform: unset;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--text-color, @text-color);
    }
    > .MuiInputBase-root{
        fieldset{
            top: 0;
            legend{
                display: none;
            }
        }
    }
}

.select-label{
    position: static;
    transform: unset;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 22px !important;
}

.MuiList-root{
    .MuiMenuItem-root{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-light-color, @text-light-color);
    }
}

.MuiCheckbox-root{
    color: var(--primary-color, @primary-color) !important;
}

.MuiFormLabel-asterisk{
    color: var(--dash-alert-error-color, @dash-alert-error-color) !important;
}

.MuiFormControlLabel-label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--text-color, @text-color);
}