.dash-layout-content > .dash-layout-content  {
  padding: 0 !important;
}

.framed-layout{
  > #root{
      border-radius: 8px;
      background-color: var(--dash-framed-layout-background, @dash-framed-layout-background);
      > div > div > .lite{
          background-color: transparent;
      }
      .dash-app-layout {
          .dash-app-module {
            //padding:8px;
          }
          .dash-layout-content, .dash-layout-footer{
              background-color: transparent;
              border-top: unset;
          }
      }
  }

}


.framed-layout{
  .dash-module-box-content{
      //max-width: calc(100vw - 60px - 107px);
      padding:8px;
  }
}

body.framed-layout{
  padding: 8px;
  background-color: var(--body-background, @body-background);
}


.framed-layout #root {
  box-shadow: unset;
  //height: calc(100vh - 2 * 15px);
}

/* Layout overwrites */

.framed-layout {
  .dash-module-horizontal-nav {
  //border-bottom: none;
    li:first-child .dash-link {
      margin-left:8px;
    }
  }

}
.dash-layout-content{
  padding: 0 8px 0 240px;
  transition: all .4s;
  .dash-app-module{
      margin: 0;
      padding: 0 0 0 5px;
      width: 100%;
      .dash-module-box-content{
          padding: 0;
      }
  .dash-box{
    width: 100%;
  }
  }
}

.dash-app-layout-sidebar-collapsed{
  .dash-header, .dash-layout-content{
      padding: 0 15px 0 65px;
  }
}

/* Adds the default header padding for the expanded menu */
.dash-header{
  padding: 0 0px 0 263px;
}


@media (max-width: @mq-sm){

  body.framed-layout{
    padding: 0px;
  }
  .framed-layout{
  > #root{
    border-radius: 0px;

    .dash-app-layout {
        .dash-app-module {
          //padding:0px;
        }

    }
}
}
}


@media (max-width: @mq-sm){
  .dash-header, .dash-layout-content{
      padding: 0;
  }

  .dash-app-layout-sidebar-collapsed{
      .dash-header, .dash-layout-content{
          padding: 0;
      }
  }

  .dash-layout-content{
      .dash-app-module{
          width: calc(100%);
          max-width: calc(100%);
          margin: 0;
          padding: 0;
      }
  }
}

/* @deprecated */
/*
.framed-layout{
  .dash-app-layout.dash-header{
      top: 30px;
      left: 30px;
      width: 100%;
  }
}
@media screen and (max-width: 991px){

  .framed-layout{
      .dash-app-layout.dash-header{
          top: 0;
          left: 0px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          width: calc(100%);
      }
  }

}
*/
