a, .dash-link{
  color: var(--primary-color, @primary-color);
}

.link {
  display: flex;
  width: fit-content;
  margin: .5rem 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;

  text-align: right;
  text-decoration-line: underline;
  // color: $c-blue;
  transition: all .4s;
  &--dark-red{
      color: var(--primary-contrast-color, @primary-contrast-color) !important;
  }

  .icon{
      margin-right: 10px;
  }

  &:hover{
      text-decoration: underline;
  }
}