
.loading-overlay {
  opacity: 0.3;
  //transition: opacity 0.3s linear 1s; 
  pointer-events: none;
  position: relative;
}

.datagrid-olverlay-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.default-overlay {
  opacity: 1;
  //transition: opacity 0.3s linear 1s; 
}

