.MuiTablePagination-displayedRows {
    margin-right:15px;
}

/*
.MuiToolbar-root {
    // Removes default ReactAdmin white background
    background: inherit;
    //justify-content: flex-start !important;

}
*/

/*.RaBulkActionsToolbar-toolbar { 
    background: var(--header-bg);
}*/

.MuiTablePagination-toolbar {
        background-color: transparent !important;
        justify-content: center;
        align-items: baseline;
}

.MuiFormLabel-root{
    &.MuiInputLabel-shrink{
        top: -2px !important;
    }
}

.MuiStack-root-RaLabeled-root{
    width: 100%;
    margin-bottom: 1rem !important;
}

.MuiStack-root {
    align-items: stretch;
}

// Fixed Mui Field Inputs
.MuiAutocomplete-root {
    width: 100%;
}

.RaList-actions {
    .MuiAutocomplete-input {
        //width: 160px !important;
        width:100% !important;

    }

    .MuiInputBase-root {
        //width: 217px;
        flex-wrap: inherit;
    }
}


@media screen and (max-width: 576px) {
  .MuiPaper-root {
    overflow-x: none !important;
  }
}
