.dash-notification .MuiSnackbarContent-message {
    padding: 20px;
}

.dash-media{
    /*.dash-user-thumb{

    }*/
    &-body{
        .table{
            width: 100%;
            border: 1px solid rgba(#000000, .12);
            margin-top: 1rem;
            border-collapse: collapse;
            th, td{
                padding: 5px 10px;
                border: 1px solid rgba(#000000, .12);
            }
            th{
                background-color: rgba(#000000, .12);
                font-size: 12px;
            }
            td{
                vertical-align: top;
                min-width: 90px;
                font-size: 11px;
            }
        }
    }
}


/*
.dash-notification .RaNotification-success {
    
}
.dash-notification .RaNotification-info {
    
}
.dash-notification .RaNotification-warning {
    
}
.dash-notification .RaNotification-error {
    
}
*/