#root {
  //height: 100vh;
  margin:0;
  padding: 0;
  // height: -webkit-fill-available;
}
html {
  //height: -webkit-fill-available;

}

body {
  //background-color: var(--bg-color, @background-color);
  margin: 0;
  padding: 0;
   //height: -webkit-fill-available;
   //color: var(--text-color, @text-color);

  background: linear-gradient(to bottom,
  
    var(--bodybg-secondary, @bodybg-secondary),
      var(--bodybg-primary, @bodybg-primary),
);


}

/*h1,h2,h3,h4,h5,h6,p,span,div,a {
    color: var(--text-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}*/

/*
@property --bgangle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}


*/