.dash-splash {
  height: 100vh;
  background-color: var(--primary-color, @primary-color);
  //opacity: 0;
  pointer-events: none;
}

.dash-splash .MuiCircularProgress-root {
  color: var(--primary-contrast, @primary-contrast);
}

.dash-app-layout .MuiCircularProgress-root {
  color: var(--primary-color, @primary-color) !important;
}

/*
.dash-splash.fade-in  {
    background-color: transparent;
    animation: fadeIn 0.5s ease-in forwards;
  }

  .dash-splash.fade-out {
    background-color: var(--primary-color, @primary-color);
    animation: fadeOut 0.5s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      background-color: transparent;
    }
    to {
      background-color: var(--primary-color, @primary-color);
    }
  }

  @keyframes fadeOut {
    from {
      background-color: var(--primary-color, @primary-color);
    }
    to {
      background-color: transparent;
    }
  }
*/
