.svg-icon-regular{
  svg{
      fill: #233044;
  }
  color: #233044;
}
.svg-icon-red{
  svg{
      fill: -color;
  }
  color: @danger-color;
}
.svg-icon-green{
  svg{
      fill: #4CAF50;
  }
  color: #4CAF50;
}
.svg-icon-blue{
  svg{
      fill: #1976D2;
  }
  color: #1976D2;
}
.svg-icon-yellow{
  svg{
      fill: #FF9800;
  }
  color: #FF9800;
}
