.svg-icon-regular{
  svg{
      fill: var(--text-color, #233044);
  }
  color: var(--text-color, #233044);
}
.svg-icon-red{
  svg{
      fill: var(--danger-color, @danger-color);
  }
  color: var(--danger-color, @danger-color);
}
.svg-icon-green{
  svg{
      fill: var(--success-color, #4CAF50);
  }
  color: var(--success-color, #4CAF50);
}
.svg-icon-blue{
  svg{
      fill: var(--primary-color, #1976D2);
  }
  color: var(--primary-color, #1976D2);
}
.svg-icon-yellow{
  svg{
      fill: var(--warning-color, #FF9800);
  }
  color: var(--warning-color, #FF9800);
}
