.ant-tag{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px 8px;
    width: max-content;
    min-width: 71px;
    height: 30px;

    background: var(--component-bg, @component-bg);
    border: 1px solid var(--component-border, @component-border);
    border-radius: 4px;
    color: var(--component-text, @component-text);
    svg{
        color: var(--component-text, @component-text);
        path{
            stroke: var(--component-text, @component-text);
        }
    }
    &.ant-tag-magenta{
        color: #EB2F96;
        background: #fff0f6;
        border: 1px solid #FFADD2;
        &.color svg{ color: #EB2F96; }
        &.stroke svg path{ stroke: #EB2F96; }
    }
    &.dash-tag-red{
        color: #F5222D;
        background: #fff1f0;
        border: 1px solid var(--pink, @pink);
        &.color svg{ color: #F5222D; }
        &.stroke svg path{ stroke: #F5222D; }
    }
    &.dash-tag-volcano{
        color: #FA541C;
        background: #fff2e8;
        border: 1px solid #FFBB96;
        &.color svg{ color: #FA541C; }
        &.stroke svg path{ stroke: #FA541C; }
    }
    &.dash-tag-orange{
        color: #FA8C16;
        background: #fff7e6;
        border: 1px solid #FFD591;
        &.color svg{ color: #FA8C16; }
        &.stroke svg path{ stroke: #FA8C16; }
    }
    &.dash-tag-gold{
        color: #FAAD14;
        background: #fffbe6;
        border: 1px solid #FFE58F;
        &.color svg{ color: #FAAD14; }
        &.stroke svg path{ stroke: #FAAD14; }
    }
    &.dash-tag-lime{
        color: #A0D911;
        background: #FCFFE6;
        border: 1px solid #EAFF8F;
        &.color svg{ color: #A0D911; }
        &.stroke svg path{ stroke: #A0D911; }
    }
    &.dash-tag-green{
        color: #52C41A;
        background: #F6FFED;
        border: 1px solid #B7EB8F;
        &.color svg{ color: #52C41A; }
        &.stroke svg path{ stroke: #52C41A; }
    }
    &.dash-tag-cyan{
        color: #13C2C2;
        background: #E6FFFB;
        border: 1px solid #87E8DE;
        &.color svg{ color: #13C2C2; }
        &.stroke svg path{ stroke: #13C2C2; }
    }
    &.dash-tag-blue{
        color: #1890FF;
        background: #E6F7FF;
        border: 1px solid #91D5FF;
        &.color svg{ color: #1890FF; }
        &.stroke svg path{ stroke: #1890FF; }
    }
    &.dash-tag-geekblue{
        color: #2F54EB;
        background: #F0F5FF;
        border: 1px solid #ADC6FF;
        &.color svg{ color: #2F54EB; }
        &.stroke svg path{ stroke: #2F54EB; }
    }
    &.dash-tag-purple{
        color: #722ED1;
        background: #F9F0FF;
        border: 1px solid #D3ADF7;
        &.color svg{ color: #722ED1; }
        &.stroke svg path{ stroke: #722ED1; }
    }
}
