@toast-success-bg: #F6FFED;
@toast-success-border: 1px solid #52C41A;
@toast-success-icon: #B7EB8F;
@toast-success-color: #262626;

@toast-error-bg: #fff1f0;
@toast-error-border: 1px solid var(--pink);
@toast-error-icon: #F5222D;
@toast-error-color: #262626;

@toast-info-bg: #EDE0FF;
@toast-info-border: 1px solid var(--primary-color);
@toast-info-icon: var(--primary-color);
@toast-info-color: #262626;

@toast-custom-bg: linear-gradient(92.77deg, rgba(154, 101, 224, 0.5) 2.44%, rgba(203, 18, 98, 0.5) 97.8%);;
@toast-custom-border: 1px solid var(--primary-color);
@toast-custom-icon: var(--highlight-color);
@toast-custom-color: var(--highlight-color);

.ant-notification-notice{
    padding: 16px;
    border-radius: 2px;
    overflow: initial;
    &-icon{
        margin: 0;
        width: 21px;
        height: 21px;
        color: initial !important;
        > svg{
            width: 100% !important;
            height: 100% !important;
            > *{
                pointer-events: none;
            }
        }
    }
    &-success{
        background: @toast-success-bg;
        border: @toast-success-border;
        .ant-notification-notice-icon{
            filter: invert(61%) sepia(34%) saturate(993%) hue-rotate(56deg) brightness(95%) contrast(99%);
        }
    }
    &-error{
        background: @toast-error-bg;
        border: @toast-error-border;
        .ant-notification-notice-icon{
            filter: invert(18%) sepia(28%) saturate(6396%) hue-rotate(340deg) brightness(132%) contrast(109%);
        }
    }
    &-info{
        background: @toast-info-bg;
        border: @toast-info-border;
        .ant-notification-notice-icon{
            filter: invert(43%) sepia(96%) saturate(420%) hue-rotate(222deg) brightness(92%) contrast(91%);
        }
    }
    &-custom{
        background: @toast-custom-bg;
        border: @toast-custom-border;
        strong{
            color: var(--primary-color);
        }
        .ant-notification-notice-icon{
            filter: invert(10%) sepia(15%) saturate(10%) hue-rotate(314deg) brightness(101%) contrast(90%);
        }
    }

    &-with-icon{
        .ant-notification-notice{
            &-message{
                margin-bottom: 0;
            }
            &-description{
                margin-top: 4px;
                &:empty{
                    display: none;
                }
            }
        }
    }
}