.toolbar-filters > div {
  display: flex;
}

.toolbar-settings {
    position: absolute;
    right: 0px;
    top: 0px;
}

.toolbar-buttons {
    align-items: center;
}

/*
.toolbar-collapse-button {
    right: 10px;
    bottom: 10px;
}
*/
/*
.toolbar-settings-button {
    right: 10px;
    top: 10px;
}
*/
.toolbar-right-buttons {
            position: absolute;
            top: 0;
            right: 2px;
            display: flex;
            z-index: 3;
           
}



.toolbar-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /*> .MuiBox-root {
        display: flex;
        align-items: end;
    }
    &-filter-button {
        position: absolute;
        right: 36px;
        top: -10px;
    }*/
}

/*
.top-toolbar, .top-toolbar-default {
   // background: var(--module-bg);
   // border-radius: 12px;
  // padding: 15px;
   box-shadow: none;
   padding: 0 0 0 8px;
}
.top-toolbar > .MuiToolbar-root {
    box-shadow: unset !important;
    padding: 1rem !important;
    position: relative;
}
*/

//.top-toolbar-default {
 //padding: 5px;
 //padding-top:15px;;
 //background: var(--module-bg);
 //border-radius: 12px;
 //margin-bottom:3px;
//}

/*

.MuiToolbar-root-RaTopToolbar-root{
    min-height: unset !important;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular{
    display: flex;
    align-items: center;
    > *{
        margin: 0;
    }
}
*/
