/*
@import './styles/root.less';
@import './styles/mui-overrides.less';
@import './styles/animations.less';
@import './styles/custom.less';
@import './styles/dark/sidebar.less';
@import './styles/dash.less';
@import './styles/devices/mac.less';
@import './styles/drag.less';
@import './styles/fonts.less';
@import './styles/input.less';

@import './styles/pagination.less';
@import './styles/react-admin-overrides.less';
@import './styles/screen-sixze-overwrites.less';
@import './styles/scroll.less';
@import './styles/sidebar.less';
@import './styles/tabs.less';

@import './styles/window-controls.less';
@import './styles/dark/sidebar.less';
@import './styles/devices/electron-base.less';
@import './styles/devices/mac.less';
@import './styles/voice/voice.less';
*/

@import './styles/tree.less';
@import './styles/landing.less';
@import './styles/login.less';

.RaCreateButton-floating {
    display: none !important;
}

.windows {
    .dash-header-container {
        padding-right: 120px; // windows controls
    }
}

@media screen and (max-width: 960px) {
  .webview, .android {
    .dash-header-container, .sidebar-header {
      padding-top: 40px;
    }
   
  }
}


// EXTRAS - TODO: ORGANIZE

.dash-tab-staff {
    padding:0;
}