/*
@import './styles/root.less';
@import './styles/mui-overrides.less';
@import './styles/animations.less';
@import './styles/custom.less';
@import './styles/dark/sidebar.less';
@import './styles/dash.less';
@import './styles/devices/mac.less';
@import './styles/drag.less';
@import './styles/fonts.less';
@import './styles/input.less';

@import './styles/pagination.less';
@import './styles/react-admin-overrides.less';
@import './styles/screen-sixze-overwrites.less';
@import './styles/scroll.less';
@import './styles/sidebar.less';
@import './styles/tabs.less';

@import './styles/window-controls.less';
@import './styles/dark/sidebar.less';
@import './styles/devices/electron-base.less';
@import './styles/devices/mac.less';
@import './styles/voice/voice.less';
*/
/*
@import './styles/tree.less';
@import './styles/landing.less';
@import './styles/login.less';
@import './styles/kt-mall.less';
*/

@import './styles/root.less';
@import './styles/theme/theme.less';

@import './styles/sidebar.less';

@import './styles/theme/bootstrap.less';
@import './styles/theme/responsive.less';
@import './styles/theme/themify-icons.less';

@import './styles/theme/colors.less';



:root {
    --sidebar-large-width: 255px;
    --sidebar-small-width: 64px;
    --sidebar-horizontal-height: 64px;
    --logo-max-width: 200px;
    --logo-max-height: 60px;
}
