
.electron {
  .dash-header-subheader-action {
    padding-top: 36px;
  }

  /*.dash-header-subheader-avatar {
        //padding-top: 36px;
    }*/

  .hero-content h1,
  .hero-image,
  .sidebar-logo,
  .dash-app-login-img {
    -webkit-app-region: drag;
  }


  .dash-header-subheader-action {
    padding-top: 36px;
  }
/*
  .sidebar-header {
    padding-top: 40px !important;
  }
*/
}

.dash-header-subheader-logo { 
width: 100%;
}

