.electron.mac {
  /*.dash-header .dash-header-container .dash-header-subheader {
    width: 50px;
    height: 50px;
  }*/

  @media (max-width: @mq-sm) {
    .dash-header-inline-subtitle {
      margin-left: 18px;
    }

    .dash-header .dash-header-container .dash-header-content {
      margin-top: -55px;
      padding-bottom: 10px;
      align-items: initial;
      padding-left: 150px;
    }

    /*.dash-header-subheader-avatar {
      padding-top: 0px;
    }*/
    .dash-header-subheader-logo {
      height: 60px;
      position: absolute;
      left: 60px;
    }
    /*.dash-user-avatar .MuiAvatar-root {
      width: 50px;
      height: 50px;
    }*/
  }

  @media (max-width: 990px) and (max-width: 990px) {
    .dash-header .dash-header-container .dash-header-subheader-logo img {
      -webkit-app-region: drag;
    }
  }

}
