// Colors
@main-color: #4caf50;
@main-color-contrast: #004f0c;
@primary-color: @main-color;
@main-text-color: black;
@module-background: #F6F7FC;
@module-border: #D9D9D9;
@dash-principal-color: @main-color-contrast;
@light-color: #E8E2F8;
@main-contrast-color: white;
@white: #FFFFFF;
@pink: #FFA39E;
@body-background: #ccc;
@dash-framed-layout-bg: #ccc;
@dash-scroll-thumb-color: #333;


// Layout
@module-background: #F6F7FC;
@module-border: #D9D9D9;
@custom-padding: 10px;
@content-horizontal-padding: 10px;
@min-body-width: 575px;

// Sidebar Dimensions
@sidebar-width: 200px;
@dash-sidebar-width-large: 255px;
@dash-sidebar-width-small: 60px;
@dash-sidebar-submenu-padding: 40px;
@sidebar-mini-drawer-width: 100px;
@sidebar-padding-lr: 10px;
@scroll-bar-margin: 19px;
@scroll-bar-collapsed-margin: 5px;
@dash-sidebar-icon-width: 60px;

// Sidebar Colors
@dash-principal-color: @main-color-contrast;
@dash-link-color: @dash-principal-color;
@dash-sidebar-icon-color-primary: @main-color;
@dash-sidebar-icon-color-secondary: #F0E4FF;
@dash-sidebar-bg-primary: @main-color;
@dash-sidebar-bg-secondary: #F0E4FF;
@dash-sidebar-color-primary: #fff;
@dash-sidebar-color-secondary: @main-color;
@dash-sidebar-submenu-bg-primary: #F0E4FF;
@dash-sidebar-submenu-bg-secondary: @main-color;
@dash-sidebar-submenu-color-primary: @main-color;
@dash-sidebar-submenu-color-secondary: #F0E4FF;