// OverWrite transition loader

.slide-in {
    //z-index: 3000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: @main-color;
    padding: 10px;
    box-sizing: border-box;
    transform-origin: center;
    border-radius: 50%;
}

.slide-out {
  //z-index: 3000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: @main-color;
  padding: 10px;
  box-sizing: border-box;
  transform-origin: center;
  border-radius: 50%;
}