.dash-app-login-wrapper {
    background-color: var(--primary-contrast, @primary-contrast);
    background: linear-gradient(var(--angle),
            var(--primary-color, @primary-color),
            var(--primary-contrast, @primary-contrast));

    
    button {
         color: var(--text-color, @text-color) !important;
        
    }
    button.submit {  
        background-color: var(--primary-color, @primary-color) !important;
        border-color: var(--primary-contrast, @primary-contrast) !important;
    }

   
}

.dash-app-layout-content .dash-app-login-wrapper {
    background: none;
}


.dash-app-layout .dash-layout-content .dash-app-module {
   
    padding-right: 8px;
    padding-left: 8px;
   
}