
/*

.MuiPaper-root {
  margin-bottom: 8px;
  background-color: var(--module-bg, @module-bg);
}

.MuiCard-root {
  background-color: var(--module-bg, @module-bg);
}

.MuiAccordion-root {
  background-color: var(--module-bg, @module-bg);

  &.MuiPaper-root {
    background-color: var(--module-bg, @module-bg);
  }
}

.MuiAccordionSummary-expandIconWrapper {
  color: inherit;
  
  .MuiSvgIcon-root {
    color: inherit;
  }
}

.MuiAlert-root {
  &.MuiAlert-standardInfo {
    background-color: var(--module-bg, @module-bg);
    color: var(--text-color, @text-color);

    .MuiAlert-icon {
      color: var(--highlight-color, @highlight-color);
    }

    .MuiAlertTitle-root {
      color: var(--text-color, @text-color);
    }
  }
}

.MuiTab-root {
  &.MuiButtonBase-root {
    &.Mui-selected {
      color: var(--highlight-color, @highlight-color);
      background-color: var(--tab-selected-bg, @tab-selected-bg);
    }

    &.MuiTab-textColorPrimary {
      color: var(--text-color, @text-color);
    }
  }
}

.MuiInputAdornment-root {
  svg {
    color: var(--highlight-color, @highlight-color);
  }
}


.MuiTableCell-root {
  text-wrap-mode: nowrap;
}

.MuiButton-root {
  background: var(--btn-bg, @btn-bg);
  color: var(--btn-color, @btn-color);
}


.MuiTypography-root {
  color: var(--text-color, @text-color);
}

.MuiTabs-list a, .dash-link {
    font-family: "Montserrat";
    font-weight: bold;
}


  .MuiButton-root {
    background: var(--btn-bg, @btn-bg);
    color: var(--btn-color, @btn-color);
  }


  .MuiTableCell-root {
    text-wrap-mode: nowrap;
  }


  .RaReferenceField-root .RaReferenceField-link > * {
    color: var(--text-color, @text-color);
  }


  .RaSingleFieldList-root .RaSingleFieldList-link > * {
    color: var(--text-color, @text-color);
  }


  .MuiInputAdornment-root svg {
    color: var(--highlight-color, @highlight-color);
  }

  
  .MuiTab-root.MuiButtonBase-root.Mui-selected {
    color: var(--highlight-color, @highlight-color);
    background-color: var(--tab-selected-bg, @tab-selected-bg);
  }

  .MuiTab-root.MuiButtonBase-root.MuiTab-textColorPrimary {
    color: var(--text-color, @text-color);
  }


  .MuiAlert-root.MuiAlert-standardInfo {
    background-color: var(--module-bg, @module-bg);
    color: var(--text-color, @text-color);
  }

  .MuiAlert-root.MuiAlert-standardInfo .MuiAlert-icon {
    color: var(--highlight-color, @highlight-color);
  }

  .MuiAlert-root.MuiAlert-standardInfo .MuiAlertTitle-root {
    color: var(--text-color, @text-color);
  }

  
  .MuiAccordion-root {
    background-color: var(--module-bg, @module-bg);
  }

  .MuiAccordion-root.MuiPaper-root {
    background-color: var(--module-bg, @module-bg);
  }

  .MuiAccordionSummary-expandIconWrapper {
    color: inherit;
  }

  .MuiAccordionSummary-expandIconWrapper .MuiSvgIcon-root {
    color: inherit;
  }


  .MuiCard-root {
    background-color: var(--module-bg, @module-bg);
  }


  .MuiPaper-root {
    margin-bottom: 8px;
    background-color: var(--module-bg, @module-bg);
  }


  h1, h2, h3, h4, h5, h6, p, span, div, .MuiTypography-root {
    color: var(--text-color, @text-color);
  }


  body {
    background-color: var(--body-bg, @body-bg);
  }

  */





  