VITE_ENV_PREFIX='VITE_'
VITE_APP_BACKEND_URL='!APP_BACKEND_URL!'
VITE_APP_ADMIN_API_URL='!APP_ADMIN_API_URL!'
VITE_APP_SOCKET_URL='!APP_SOCKET_URL!'

VITE_DASH_ADMIN_ROLE='Administrador'
VITE_DASH_SYSTEM_ROLE='System'

VITE_APP_ADMIN_ROLE='Administrador'
VITE_APP_USER_ROLE='Cliente'
VITE_APP_CREATOR_ROLE='Perfil Creador'
VITE_APP_CLOSING_ROLE='Perfil Pistolero'
VITE_APP_GUNNER_ROLE='Perfil Pistolero'
VITE_APP_DRIVER_ROLE='Acceso conductores'

VITE_DEFAULT_PER_PAGE=25

VITE_PAGE_TRANSITIONS=false

VITE_LOGIN_SOUNDS=true
VITE_UI_SOUNDS=false

VITE_DEV_PORT=3006
VITE_HMR_PORT=3006
VITE_HMR_HOST='localhost'
VITE_APP_SOCKETS_ENABLED=true
VITE_SIDEBAR_WIDH=280
VITE_SIDEBAR_COLLAPSED_WIDH=80

VITE_ENABLE_TENANT_LOGIC=true
VITE_ENABLE_TENANT_IMPERSONATION=true
VITE_ENABLE_LOGS_AND_NOTIFICATIONS=false
VITE_APP_SOCKETS_ENABLED=true

VITE_FILTERS_COLLAPSE_COUNT=6
VITE_FILTERS_COLLAPSE_SIZE="60px"

VITE_SYNC_FUSION_LICENCE='Ngo9BigBOggjHTQxAR8/V1NDaF1cWGhIfEx1RHxQdld5ZFRHallYTnNWUj0eQnxTdEBjW31ecX1UQWBcWEx2WQ=='
