.dash-header {
  font-family: "Montserrat";
}

.show-page {
  margin-top: 3px;
}

.dash-header-subheader-user {
  position: absolute;
  top: 2px;
}

.dash-header-subheader-actions {
  position: absolute;
  right: 23px;
  top: 16px;
  flex-direction: row;
  display: flex;
  div {
    margin: 1px;
  }
}