.RaTabbedShowLayout-content {
    background-color: #f1f1f1;
    border-radius: 20px;
    margin-top: 15px;
    .MuiStack-root.ra-field {

            font-size: larger;
            p {
                font-weight: bold;
            }
            /*span {
                
            }*/
        }

}
