/*.RaList-main > .MuiToolbar-root {
    margin-bottom: 15px;
}*/

.edit-page,
.create-page {
  margin-bottom: 60px; // The height of the bottom toolbar
}

/*
.RaToolbar-mobileToolbar {
  background: none !important;

}

.RaToolbar-desktopToolbar {
   background: none !important;

}
   */
